.valid-tab{
    background-color: lightgreen!important;
}
.monaco-editor div, .monaco-diff-editor div {
    font-family: monospace;
    font-size: unset;
}

.invisible{
    display: none!important;
}

fieldset{
    margin-bottom: 5px;
}

fieldset > fieldset > div {
    margin-left: 20px;
    margin-right: 10px;
}

fieldset > div {
    margin-left: 20px;
    margin-right: 10px;
}

.tab-content > div {
    margin: 10px;
}

fieldset > legend {
    margin-left: 10px;
    font-weight: 600;
}


p.text-left, ul.text-left > li{
    text-align: left!important;
}

/*.content{
    horiz-align: right!important;
}*/

h1.ui.header .content{
    horiz-align: right;
}
h1.ui.header{
    font-size:1.7rem;
    color: #002864;
}
h1.ui.header .sub.header{
    color: #002864;
}

.fa-regular.blue{
    color: #14C8FF;
}

.ui.inverted.attached.segment {
    background: #002864;
    height: 200px;
}

button.btn.btn-primary, input.btn.btn-primary, a.btn.btn-secondary{
    background-color: #2185d0;
    border: none;
    color: #fff;
    text-shadow: none;
    background-image: none;
}
/*#editor {
   // position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-sizing: inherit;
    min-height: 384px;
    max-height: 384px;
}*/
